In [2]:
import pandas as pd

In [3]:
# df1 = pd.read_csv("data/cost-of-living_v2.csv")
df1 = pd.read_csv("data/cost-of-living.csv", index_col=0)

## Data Preperation

In [8]:
import pycountry_convert as pc

def country_name_to_continent_name(country_name):
    exceptions = {
        "Bosnia And Herzegovina": "Europe",
        "Trinidad And Tobago": "South America",
        "Isle Of Man": "Europe",
        "Curacao": "South America",
        "Kosovo (Disputed Territory)": "Europe",
    }
    if country_name in exceptions.keys():
        return exceptions[country_name]
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except:
        return None
df1 = df1[df1["data_quality"]==1]

df1["continent"] = df1["country"].apply(country_name_to_continent_name)
df1

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x48,x49,x50,x51,x52,x53,x54,x55,data_quality,continent
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,...,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1,Asia
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,...,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1,Asia
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,...,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1,Asia
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,...,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1,Asia
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,...,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4145,Haugesund,Norway,15.37,80.43,12.06,8.60,8.55,4.32,3.34,2.87,...,703.75,552.95,1306.93,1080.73,2473.18,2243.39,3310.20,2.57,1,Europe
4258,Lagos,Portugal,8.31,62.32,7.27,2.60,2.60,1.77,1.77,1.42,...,869.91,706.31,1627.29,1201.74,3467.10,3401.40,910.11,3.33,1,Europe
4341,Porto Calvo,Brazil,4.66,25.16,5.59,1.86,2.24,1.69,1.03,0.69,...,298.14,241.46,542.24,444.88,1229.83,1071.44,385.78,8.17,1,South America
4426,Fairfax,United States,19.38,75.00,10.00,6.00,7.62,5.06,2.42,1.78,...,2200.00,1733.33,3560.00,2825.00,6754.35,2891.90,6117.78,4.90,1,North America
4429,Kalach-na-Donu,Russia,8.52,49.13,6.14,1.31,2.29,2.50,1.01,0.51,...,484.26,318.42,675.51,491.28,2006.06,1250.03,608.16,10.68,1,Europe